.footer{
    height: 100px !important;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.copyright span{
    text-decoration: underline;
}
.footer-website-name{
    color: black;
}
.footer-details{
    display: flex;
    justify-content: space-between;
}
.footer-heading{
    font-size: 16px;
}
.footer-phone-no{
    margin-right: 50px;
}
.footer-email{
    margin-right: 50px;
}
.footer-email a{
    color: black;
    text-decoration: none;
}
.footer-social-media i{
    margin: 0 8px;
    font-size: 18px !important;
}
